<p>
    <span class="input">
        <input type="text" placeholder="Gradient border focus fun" @bind:get="Value" @bind:set="ValueChanged">
        <span></span>
    </span>
</p>

@code {
    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}