@page "/search"

<h2>Search/Filter Dropdown</h2>
<p>Click on the button to open the dropdown menu, and use the input field to search for a specific dropdown link.</p>

<div class="dropdown">
    <button @onclick="ButtonClick" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class=@($"dropdown-content {(show? "show" : string.Empty)}")>

        <input type="text" placeholder="Search.." @bind="searchText" @bind:after="PerformSearch" />



        @if (searchResult.Length > 0)
        {
            @foreach (var item in searchResult)
            {
                <a href=@($"#{item}")>@item</a>
            }
        }
        else
        {
            @foreach (var item in values)
            {
                <a href=@($"#{item}")>@item</a>
            }
        }


    </div>
</div>


@code {

    bool show = false;

    private string searchText = string.Empty;
    private string[] searchResult = values;



    private static string[] values = new string[] { "About", "Base", "Blog", "Contact", "Custom", "Support", "Tools" };



    private async Task PerformSearch()
    {

        searchResult = values.Where(x => x.ToLower().Contains(searchText.ToLower())).ToArray();
        StateHasChanged();


    }

    void ButtonClick()
    {
        show = !show;
        StateHasChanged();
    }

}
