@page "/todolist"

<PageTitle>Todo List</PageTitle>

<h1>Todo List</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <EditForm Model="Todo" OnSubmit="Submit">
                <div class="mb-3">
                    <label for="exampleInputTodo" class="form-label">Title</label>


                    <SuperInput Value="@Todo" ValueChanged="ValueChanged" />


                    <div id="todoHelp" class="form-text">El titulo para una tarea.</div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Todos</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Todos)
                    {
                        <tr>
                            <td>@item</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    string Todo { get; set; } = string.Empty;

    List<string> Todos = new();

    void Submit()
    {

        //Todos.Add(Todo);
    }


    public void ValueChanged(string value)
    {
        Todo = value;
        Todos.Add(value);
    }

}
